astor
attrdict
chinese-calendar==1.7.2
click
cloudpickle==1.3.0; python_version<"3"
cloudpickle==1.6.0; python_version>="3"
colorama
colorlog
ConfigArgParse
coverage
cython
datasets
decorator
easydict
editdistance
faiss-cpu==1.7.1.post2
fastapi
filelock
flask_cors
flask>=1.0.4
g2p_en
g2pM
gast==0.3.3
gpustat
grpcio>=1.27.2
h5py
imgaug==0.4.0
inflect
# Jetpack >=4.5, <=4.6.1
jieba
jsonlines
kaldiio
lap
librosa==0.8.1
lmdb
loguru
lxml
matplotlib
motmetrics
multiprocess
nara_wpe
numpy>=1.13
onnxruntime
opencv-contrib-python==4.4.0.46
opencv-python
openpyxl
opt_einsum==3.3.0
paddle_bfloat==0.1.7
paddlespeech
paddlefsl
paddlenlp
paddlespeech_ctcdecoders
paddlespeech_feat
pandas
pattern_singleton
phkit
Pillow
praatio==5.0.0
pre-commit
premailer
prettytable
protobuf>=3.1.0, <=3.20.0
psutil>=5.6.2
pybind11
pyclipper
pycocotools
pyevtk>=1.5.0
pypi-kenlm
pypinyin
pypinyin-dict
pysdf>=0.1.8
python-dateutil
python-docx==0.8.11
pyvista>=0.35.1
PyWavelets==1.3.0
pyworld
pyyaml >= 5.1
pyzmq==18.1.1; python_version<"3.9"
pyzmq==22.3.0; python_version>="3.9"
rapidfuzz
requests>=2.20.0
resampy==0.2.2
sacrebleu
scikit-image
scikit-learn>=0.21.0
scipy
sentencepiece>=0.1.96
seqeval
setuptools>=42.0.0
shapely
six
sklearn
snakeviz
soundfile~=0.10
sox
soxbindings
sympy>=1.10.1
tb-nightly==1.15.0a20190801
tensorboardX==1.8
# TensorRT>=7.2, <=8.0
termcolor>=1.1.0
terminaltables
textgrid
timer
tqdm
typeguard
ujson
unidecode
uvicorn
visualdl>=2.2.0
vtk>=9.1.0
webrtcvad
websocket
wget
yacs~=0.1.8
yq
# zho
h5py
attrdict
paddleclas
pgl
